@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
:root {
    --primary-color: #be185d;
    --secondary-color: #dd8bad;
    --body-color: #f0d8e2;
    --success-color: #27dd27;
    --lit-green-color: #cbf1cb;
    --warning-color: #f0e116;
    --lit-yellow-color: #f1f1bc;
    --failure-color: #f13c3c;
    --lit-red-color: #f1bdbd;
    --white-color: #fff;
    --offwhite-color: #8d9097;
}

h2 {
    color: var(--offwhite-color);
}

body {
    display: grid;
    grid-template-areas: "head head" "nav main" "nav main";
    grid-template-rows: 95px 1fr;
    grid-template-columns: 220px 1fr;
    background-color: var(--white-color);
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

body>header {
    grid-area: head;
    justify-content: space-between;
    padding: 1% 77%;
    min-width: 90%;
    position: relative;
}

body>header>h2>a {
    text-decoration: none;
    color: var(--primary-color);
}

.body-contents {
    /* display: flex; */
    /* flex-direction: column; */
}

.sections {
    grid-area: main;
    border-radius: 15px;
    padding: 8px 38px;
    position: absolute;
    background-color: var(--white-color);
}

.sideNav {
    grid-area: nav;
    position: fixed;
    z-index: 1;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 5px 5px;
}

.sideNav>a {
    text-decoration: none;
    padding: 5px 5px;
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
}

.sideNav>a:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    opacity: 0.7;
    padding: 5px 5px;
}

hr {
    border-top: 1px solid var(--primary-color);
    font-size: large;
    outline: none;
    width: 70px;
}

body>main {
    padding: 5px 15%;
    font-size: large;
    font-weight: 800;
    color: var(--primary-color);
}

.carbon-code {
    margin: auto;
    height: max-content;
}

.myLogo {
    background-color: var(--white-color);
    font-weight: bolder;
    font-size: large;
    padding: 10px 10px;
}

.myLogo>a {
    text-decoration: none;
    color: var(--primary-color);
}