.sideNav {
    display: flex;
    flex-direction: column;
    width: max-content;
    /* border: 2px solid grey; */
    background-color: gray;
    padding: 5px 5px;
}

.sideNav>a {
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    text-align: center;
}

.sideNav>hr {
    color: black;
    width: 70px;
}