/* :root {
    --primary-color: #be185d;
    --secondary-color: #dd8bad;
    --body-color: #f0d8e2;
} */

.body-contents {
    display: flex;
    /* flex-direction: column; */
}

.sections {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 8px 38px;
    position: absolute;
    left: 30%;
    background-color: var(--body-color);    ;
}

.sideNav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 200px;
    /* border: 2px solid grey; */
    background-color: gray;
    padding: 5px 5px;
}

.sideNav>a {
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    text-align: center;
}

.sideNav>hr {
    color: black;
    width: 70px;
}