<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/alert.css">
    <title>Components | Alerts</title>
</head>

<body>
    <h3>Alerts</h3>
    <div class=" alert success-alert">
        <p>Hey! You got Success</p>
    </div>
    <div class=" alert warning-alert">
        <p>Careful! Warning here</p>
    </div>
    <div class=" alert failure-alert">
        <p>Uhh!! Its a Failure</p>
    </div>
</body>

</html>