<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="component.css">
    <script src="https://kit.fontawesome.com/0ef3000284.js" crossorigin="anonymous"></script>
    <title>Components</title>
</head>

<body>
    <h2>Components</h2>
    <div class="body-contents">
        <div class="sideNav">

            <a href="#alert-section">Alerts</a>
            <hr>
            <a href="#avatar-section">Avatar</a>
            <hr>
            <a href="#badge-section">Badge</a>
            <hr>
            <a href="#button-section">Buttons</a>
            <hr>
            <a href="#card-section">Cards</a>
            <hr>
            <a href="#"> About</a>
            <hr>
        </div>
        <div class="sections">
            <div class="alert-section">
                <a name="alert-section"></a>
                <h3>Alerts</h3>
                <div class=" alert success-alert">
                    <p>Hey! You got Success</p>
                </div>
                <div class=" alert warning-alert">
                    <p>Careful! Warning here</p>
                </div>
                <div class=" alert failure-alert">
                    <p>Uhh!! Its a Failure</p>
                </div>
            </div>
            <div class="avatar-section">
                <a name="avatar-section"></a>
                <h3>Avatar</h3>
                <img class="avatar avatar-small" src="/images/Avatar1.jpg" alt="Male Avatar">
                <img class="avatar avatar-big" src="/images/Avatar2.jpg" alt="Female Avatar">
            </div>
            <div class="badge-section">
                <a name="badge-section"></a>
                <h3>Badge</h3>
                <div class="badge">
                    <img class="avatar avatar-small" src="/images/Avatar1.jpg" alt="Male Avatar">
                    <span class="badge-status offline-badge"></span>
                </div>
                <div class="badge">
                    <img class=" avatar avatar-small" src="/images/Avatar2.jpg" alt="Female Avatar">
                    <span class="badge-status active-badge"></span>
                </div>
                <div class="badge">
                    <div class="notification">Notifications</div>
                    <span class="notification-status"><i class="fas fa-bell"></i></span>
                </div>
            </div>
            <div class="button-section">
                <a name="button-section"></a>
                <h3>Buttons</h3>
                <button class="btn btn-primary">Primary Button</button>
                <button class="btn btn-secondary">Secondary Button</button>
                <button class="btn btn-transparent">TertiaryButton</button>
                <button class="btn btn-icon"><i class="fas fa-home">Home</i></button>
                <button class="btn btn-floating"><i class="fas fa-plus"></i></button>
                <button class="btn btn-floating"><i class="far fa-heart"></i></button>
            </div>
            <div class="card-section">
                <a name="card-section"></a>
                <h3>Cards</h3>
                <div class="card">
                    <div class="card-badge cb-horizontal "> In Progress</div>
                    <div class="card-title">
                        <h2>Title</h2>
                        <div class="card-body">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit labore, quia expedita aliquam non odio laudantium dolores cupiditate alias in quas culpa aliquid reiciendis dolorem odit nesciunt ratione numquam nihil.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-badge cb-diagonal "> New</div>
                    <div class="card-body">
                        <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/9909507/2019/11/11/27cd5aac-362b-4f8a-892d-4713471eca691573460784459-Levis-Men-Shirts-7801573460781080-4.jpg" alt="">
                        <div class="card-title">
                            <h2> Levis </h2>
                        </div>
                        <p>Men Red & White Slim Fit Checked Casual Shirt</p>
                        <span class="price">Rs. 1259</span>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>

                </div>
                <div class="card">
                    <div class="card-badge cb-horizontal"> Sale</div>
                    <div class="card-body">
                        <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/11056154/2019/12/5/30b0017d-7e72-4d40-9633-ef78d01719741575541717470-AHIKA-Women-Black--Green-Printed-Straight-Kurta-990157554171-1.jpg" alt="">
                        <div class="card-title">
                            <h2> AHIKA</h2>
                        </div>
                        <p>Women Black & Green Printed Straight Kurta</p>
                        <span class="price">Rs. 688</span>
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-floating"><i class="far fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>