<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="component.css">
    <script src="https://kit.fontawesome.com/0ef3000284.js" crossorigin="anonymous"></script>
    <title>Components</title>
</head>

<body>
    <h2>Components</h2>
    <div class="body-contents">
        <div class="sideNav">
            <a href="/Components/allComponents.html"> Components</a>
            <hr>
            <a href="#alert-section">Alerts</a>
            <hr>
            <a href="#avatar-section">Avatar</a>
            <hr>
            <a href="#badge-section">Badge</a>
            <hr>
            <a href="#button-section">Buttons</a>
            <hr>
            <a href="#"> About</a>
            <hr>
        </div>
        <div class="sections">
            <div class="alert-section">
                <a name="alert-section"></a>
                <h3>Alerts</h3>
                <div class=" alert success-alert">
                    <p>Hey! You got Success</p>
                </div>
                <div class=" alert warning-alert">
                    <p>Careful! Warning here</p>
                </div>
                <div class=" alert failure-alert">
                    <p>Uhh!! Its a Failure</p>
                </div>
            </div>
            <div class="avatar-section">
                <a name="avatar-section"></a>
                <h3>Avatar</h3>
                <img class="avatar avatar-small" src="/images/Avatar1.jpg" alt="Male Avatar">
                <img class="avatar avatar-big" src="/images/Avatar2.jpg" alt="Female Avatar">
            </div>
            <div class="badge-section">
                <a name="badge-section"></a>
                <h3>Badge</h3>
                <img class="badge avatar-small" src="/images/Avatar1.jpg" alt="Male Avatar">
                <img class="badge avatar-big" src="/images/Avatar2.jpg" alt="Female Avatar">
            </div>
            <div class="button-section">
                <a name="button-section"></a>
                <h3>Buttons</h3>
                <button class="btn btn-primary">Log In</button>
                <button class="btn btn-secondary">Sign Up</button>
                <button class="btn btn-transparent">Free</button>
                <button class="btn btn-icon"><i class="fas fa-home">Home</i></button>
                <button class="btn btn-floating"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
</body>

</html>