<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="component.css">
    <script src="https://kit.fontawesome.com/0ef3000284.js" crossorigin="anonymous"></script>
    <title>Components</title>
</head>

<body>
    <h2>Components</h2>
    <div class="body-contents">
        <div class="sideNav">

            <a href="#alert-section">Alerts</a>
            <hr>
            <a href="#avatar-section">Avatar</a>
            <hr>
            <a href="#badge-section">Badge</a>
            <hr>
            <a href="#button-section">Buttons</a>
            <hr>
            <a href="#card-section">Cards</a>
            <hr>
            <a href="#image-section">Image</a>
            <hr>
            <a href="#input-section">Input</a>
            <hr>
            <a href="#list-section">List</a>
            <hr>
            <a href="#navigation-section">Navigation</a>
            <hr>
            <a href="#modal-section">Modal</a>
            <hr>
            <a href="#rating-section">Rating</a>
            <hr>
            <a href="#"> About</a>
            <hr>
        </div>
        <div class="sections">
            <div class="alert-section">
                <a name="alert-section"></a>
                <h3>Alerts</h3>
                <div class=" alert success-alert">
                    <i class="fas fa-check-circle"></i>
                    <p>Hey! You got Success</p>
                    <i class="fas fa-times"></i>
                </div>
                <div class=" alert warning-alert">
                    <i class="fas fa-exclamation-circle"></i>
                    <p>Careful! Warning here</p>
                    <i class="fas fa-times"></i>
                </div>
                <div class=" alert failure-alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>Uhh!! Its a Failure</p>
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="avatar-section">
                <a name="avatar-section"></a>
                <h3>Avatar</h3>
                <img class="avatar avatar-small" src="/images/Avatar1.jpg" alt="Male Avatar">
                <img class="avatar avatar-big" src="/images/Avatar2.jpg" alt="Female Avatar">
            </div>
            <div class="badge-section">
                <a name="badge-section"></a>
                <h3>Badge</h3>
                <div class="badge">
                    <img class="avatar avatar-small" src="/images/Avatar1.jpg" alt="Male Avatar">
                    <span class="badge-status offline-badge"></span>
                </div>
                <div class="badge">
                    <img class=" avatar avatar-small" src="/images/Avatar2.jpg" alt="Female Avatar">
                    <span class="badge-status active-badge"></span>
                </div>
                <div class="badge">
                    <div class="notification">Notifications</div>
                    <span class="notification-status"><i class="fas fa-bell"></i></span>
                </div>
            </div>
            <div class="button-section">
                <a name="button-section"></a>
                <h3>Buttons</h3>
                <button class="btn btn-primary">Primary Button</button>
                <button class="btn btn-secondary">Secondary Button</button>
                <button class="btn btn-transparent">TertiaryButton</button>
                <button class="btn btn-icon"><i class="fas fa-home"></i></button>
                <button class="btn btn-floating"><i class="fas fa-plus"></i></button>
                <button class="btn btn-floating"><i class="far fa-heart"></i></button>
            </div>
            <div class="card-section">
                <a name="card-section"></a>
                <h3>Cards</h3>
                <div class="card">
                    <div class="card-badge cb-horizontal "> In Progress</div>
                    <div class="card-title">
                        <h2>Title</h2>
                        <div class="card-body">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit labore, quia expedita aliquam non odio laudantium dolores cupiditate alias in quas culpa aliquid reiciendis dolorem odit nesciunt ratione numquam nihil.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-badge cb-diagonal "> New</div>
                    <div class="card-body">
                        <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/9909507/2019/11/11/27cd5aac-362b-4f8a-892d-4713471eca691573460784459-Levis-Men-Shirts-7801573460781080-4.jpg" alt="">
                        <div class="card-title">
                            <h2> Levis </h2>
                        </div>
                        <p>Men Red & White Slim Fit Checked Casual Shirt</p>
                        <span class="price">Rs. 1259</span>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>

                </div>
                <div class="card">
                    <div class="card-badge cb-horizontal"> Sale</div>
                    <div class="card-body">
                        <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/11056154/2019/12/5/30b0017d-7e72-4d40-9633-ef78d01719741575541717470-AHIKA-Women-Black--Green-Printed-Straight-Kurta-990157554171-1.jpg" alt="">
                        <div class="card-title">
                            <h2> AHIKA</h2>
                        </div>
                        <p>Women Black & Green Printed Straight Kurta</p>
                        <span class="price">Rs. 688</span>
                        <button class="btn btn-primary">Add to Cart</button>
                        <button class="btn btn-floating"><i class="far fa-heart"></i></button>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <a name="image-section"></a>
                <h3>Responsive Images</h3>
                <img class="responsive-image" src="/images/Responsive-Image.jpg" alt="">
                <img class="round-image" src="/images/Round-Image.jpg" alt="">

            </div>
            <div class="input-section">
                <a name="input-section"></a>
                <h3>Inputs</h3>
                <div class="input-card">
                    <label class="input-label" for="your-username">Username</label>
                    <input class="input-box" type="text" placeholder="Linden Lee" name="your-username">
                    <label class="input-label" for="your-email">Email Address</label>
                    <input class="input-box" type="email" placeholder="Linden@email.com" name="your-email">
                    <label class="input-label" for="your-password">Password</label>
                    <input class="input-box" type="password" placeholder="****" name="your-password">

                </div>
            </div>
            <div class="list-section">
                <a name="list-section"></a>
                <h3>Lists</h3>
                <h3>Spaced List</h3>
                <div class="list list-spaced">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </div>
                <h3>Stacked List</h3>
                <div class="list list-stacked">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </div>
            </div>
            <div class="navigation-section">
                <a name="navigation-section"></a>
                <h3>Navigations</h3>
                <div class="nav-bar right-nav">
                    <span class="nav-logo">
                        <li>LoGo</li>
                    </span>
                    <div class="nav-pages">
                        <li>Home</li>
                        <li>About</li>
                        <li class="nav-active">Contact</li>
                    </div>
                </div>
                <div class="nav-bar center-nav">
                    <span class="nav-logo">
                        <li>LoGo</li>
                    </span>
                    <div class="nav-pages">
                        <li>Home</li>
                        <li>About</li>
                        <li class="nav-active">Contact</li>
                    </div>
                </div>
            </div>
            <div class="rating-section">
                <a name="rating-section"></a>
                <h3>Ratings</h3>
                <div class="rating-star">
                    <span><i class="rating fas fa-star checked"></i></span>
                    <span><i class="rating fas fa-star checked"></i></span>
                    <span><i class="rating fas fa-star checked"></i></span>
                    <span><i class="rating fas fa-star"></i></span>
                    <span><i class="rating fas fa-star"></i></span>
                </div>
            </div>
            <div class="modal-section">
                <a name="modal-section"></a>
                <h3>Modals</h3>
                
            </div>
        </div>
    </div>
</body>

</html>