<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/button.css">
    <title>Components | Buttons </title>
</head>

<body>
    <h3>Buttons</h3>
    <button class="btn btn-primary">Started</button>
    <button class="btn btn-secondary">Go Ahead</button>
    <button class="btn btn-transparent">Read Now</button>
</body>

</html>